@charset "utf-8";

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas:'h h h h'
                        'as a a as'
                        'f f f f';
    gap: 10px;
    padding: 10px;
    text-align: center;
}

main , header, article, aside, footer{
    border: 1px solid black;
    margin: 5px;
}

#bal {
    grid-area: as;
    display: grid;
    
}

#jobb {
    grid-area: as;
    display: grid;
    
}

article {
    grid-area: a;
    display: grid;
    
}

img {
    width: 10%;
}



header {
    grid-area: h;
    
    
    
}

footer {
    grid-area: f;
    
    
}
