@charset "utf-8";

* {
    box-sizing: border-box;
}

main {
    display: grid; 
    grid-template-areas:'h h h h'
                        'bl a a jb'
                        'f f f f';

    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
}

main , header, article, aside, footer{
    border: 1px solid black;
    margin: 5px;
}

#bal {
    grid-area: bl;
    
}

#jobb {
    grid-area: jb;
    
}

article {
    grid-area: a;
    
}

img {
    width: 10%;
}



header {
    grid-area: h;
    
    
    
}

footer {
    grid-area: f;
    
    
}
